.profile-details img{
	border-radius: 50%;
	width:150px;
	height: 150px;
	margin-top:10px;
  margin-bottom:10px;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16);
}
.profileImage{
  display: block;
  margin-left: 20px;
}

header h1{
	font-size: 18px;
	text-align: center;
	margin: 55px 0 0 30px;
}

header h2{
	font-size: 12px;
	text-align: center;
	margin: 5px 0 0 30px;
}

.col-center{
   float: none;
   margin: 0 auto;
}

.text-align-justify{
  text-align:justify;
}
/* Nav Bar */
.navContainer{
  text-align: center;
  margin: 30px;
  font-size: 18px;
}

.navContainer a{
  text-decoration: none;
  padding: 10px;
  color:#fff;
  background-color: #666;
  width: 100%;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16);
}
/* Nav Ends */

.main{
	margin: 10px;
}
.main table{
  margin-top: 20px;
}
a.thumbnail{
	border: 0px;
}

tr td{
  padding: 15px;
}
/* Intro/Profile Details  */

.details-info p:hover, .details-info p:focus{
  overflow: visible;
  white-space: normal;
}

hr{
  border: 0.5px solid #ccc;
  margin-top:10px;
  margin-bottom: 10px;
}
/* End Intro/ Profile Details */
/* Technologies Stack */
h3.technology-header{
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}

/* Carousel */ 
img.angular{
  margin-top:5px;
  height: 105px;
}
img.logo{
  height: 105px;
}
img.requirejs{
  max-width:92%;
  padding-top:15px;
}
.carousel-inner{
  height: 120px;
  padding:0 15px;
}
.thumbnail{
  height: 120px;
}

a.left{
  text-align: left;
}
a.right{
  text-align:right;
}
div.col-xs-4{
  padding: 2px 5px;
}
.carousel-MainContainer{
  margin-bottom:10px;
}
a.carousel-control{
 width: 5%;
 font-size: 50px;
 padding-top: 20px;
 color: #2e2d2d;
}
.carousel-control:hover, .carousel-control:focus{
  color: blue;
}


/* End of Carousel */
/* Adjusting nav buttons on 1000px size screen*/
div.col-md-3{
  padding-right:5px;
}

.footer-social .col-md-8{
  background-color: #e7e7e7;
}
.fa { 
  padding-left: 5px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px 3px;
}

.copyright p{
  font-size: 10px;
  line-height: 1;
}

  /* to remove the spacing between header and nav*/
  div.col-md-2{
    min-height: 0px;
  }

  hr{
  width: 66.66%;
  margin: 0 auto;
}
/* fotter is getting -15px margin because of .row*/
div.row{
  margin-left:0px;
  margin-right:0px;
}
.copyright{
  padding-bottom:6px;
}
.carousel-MainContainer .col-md-8{
  padding-right:15px;
}
/* iphone 5 profile images is getting out of screen */
@media only screen and (max-width:320px){
  .profile-details img{
    width: 125px;
  }

}
@media only screen and (max-width:413px){
  .previous p{
    width: 89%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width:767px){
  #header{
    background:#e7e7e7; 
  }
  .copyright p{
    margin-left: 10px;
  }
}

/* to adjust content in middle for divider and others*/
@media only screen and (min-width:768px){
  /* divider */
  .main hr{
      width: 66.66666667%;
      margin: 5px auto;
  }
  .header .col-md-8{
    background-color: #e7e7e7;
    margin: 0;
  }
  /* to Adjust first name and middle into one line*/
  header h1{
    margin:65px 0 0 0;
  }
  header h2{
    margin: 5px 0 0 3px;
  }

  /*will not stack nav items */
  div.nav-items{
    display: inline-block;
  }
  div.col-25{
    width: 25%;
    min-height:1px;
    float:left;
  }
  div.col-16{
    width: 23.66666667%;

  }
  div.col-20{
    width: 20%;
  }
  /*adding margin to copyright*/
  .copyright p{
    margin-left: 10px;
  }

}

@media only screen and (min-width:992px){
   div.col-25{
    width: 16.66666667%;
  }
  div.col-16{
    width: 41.66666667%
  }
  /* to adjust spacing because of removing the spacing between header and nav*/
  div.col-md-2{
    min-height: 1px;
  }
}